@using Web_projekat.Models.User;


@{
    ViewBag.Title = "Home Page";
    Layout = "Layouts/GuestLayout.cshtml";

}



@if(Session["user"] != null)
{
        switch(ViewBag.user.role)
        {
            case Role.Admin:
                Layout = "Layouts/AdminLayout.cshtml";
                break;
            case Role.Guest:
                Layout = "Layouts/GuestLayout.cshtml";
                break;
            case Role.Host:
                Layout = "Layouts/HostLayout.cshtml";
                break;
        }
    }


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title></head>
<body>

    @if (Session["user"] != null)
    {
        <h3>
            @ViewBag.user.username
       
            Welcome to the site.
        </h3>
        <br />
    }
    else
    {
        <a href="~/UserOperations/Register">Register</a>
        <a href="~/UserOperations/Login">Log in</a>
    }
    </body>
</html>