@using Web_projekat.Models.User;


@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@{ 
        switch(ViewBag.user.role)
        {
            case Role.Admin:
                Layout = "Layouts/AdminLayout.cshtml";
                break;
            case Role.Guest:
                Layout = "Layouts/GuestLayout.cshtml";
                break;
            case Role.Host:
                Layout = "Layouts/HostLayout.cshtml";
                break;
        }
    }



<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <h3>
        @ViewBag.user.name
        @ViewBag.user.role
        Welcome to the site.
    </h3>
    <br/>
    <a href="~/UserOperations/Register">Register</a>
    <a href="~/UserOperations/Login">Log in</a>
</body>
</html>