<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css" />
    <script src="~/Scripts/dropzone/dropzone.js"></script>

    <script>
        $(function () {
            $('.dates #user1').datepicker({
                'format': 'dd-mm-yyyy',
                'autoclose': true
            });
        });

    </script>
</head>


<body>

    @{

        int x = 0;
        string str1 = "list[" + x + "].Key";
        string str2 = "list[" + x + "].Value";
        string str3 = "list[1].Key";
        string str4 = "list[1].Value";

    }

    <button id="btn" onclick="add_input()">Click me</button>
    <script>
        $(document).ready(function () {
            var y = 1;
            var str = "list[" + y + "].Key";
            var strr = "list[" + y + "].Value";

            $("#btn").click(function () {
                $('#datesdiv').after('<div class="dates"> <label> Choose DOB</label> <input type="text" name=' + str + ' autocomplete="off" style="width:150px" id="user1" class="form-control" placeholder="dd-mm-yyyy" /> <input type="text" name=' + strr + ' autocomplete="off" style="width:150px" id="user1" class="form-control" placeholder="dd-mm-yyyy" /> </div>');
                $('.dates #user1').datepicker({
                    'format': 'dd-mm-yyyy',
                    'autoclose': true
                });
            });
        });
    </script>
    <form id="my-form" enctype="multipart/form-data" method="post" action="~/Apartment/AddApartment">

        <input type="number" name="number_of_rooms" />
        <input type="number" name="number_of_guests" />
        <input type="number" name="price_per_night" />
        <div id="datesdiv" class="dates">
            <label>Choose DOB</label>
            <input type="text" name=@str1 autocomplete="off" style="width:150px" id="user1" class="form-control" placeholder="dd-mm-yyyy" />
            <input type="text" name=@str2 autocomplete="off" style="width:150px" id="user1" class="form-control" placeholder="dd-mm-yyyy" />
        </div>
        <input id="choose" multiple type='file' name='imageUpload' id='imageUpload' onchange="loadFile(event)" />
        <br />
        <input type="submit" value="Create" />
    </form>

    <script>
        function AjaxPost(formData) {
            var ajaxConfig = {
                type: "POST",
                url: "/Apartment/AddApartment",
                data: new FormData(formData),
                success: function (result) {
                    alert(result);
                    window.location.href = "/Apartment/AddApartment";
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
    </script>

    <script>

        var loadFile = function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                $("#choose").after('<img class="img" id="output[' + i + ']"/>');
                var output = document.getElementById('output[' + i + ']');
                output.src = URL.createObjectURL(event.target.files[i]);
            }

        };
    </script>

    <style>
        .img {
            width: 100px;
            height: 100px;
        }
    </style>


</body>
</html>